<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="cn.yyx.research.codecompletercp"
            application="org.eclipse.ui.ide.workbench">
         <property
               name="appName"
               value="cn.yyx.research.codecompletercp">
         </property>
      </product>
   </extension>

</plugin>
